@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:wght@300;500;600;700;800&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

main {
    display: flex;
}

/* left section */
.left-section {
    width: 25vw;
}

.home {
    position: relative;
    margin: 10px 5px 5px 10px;
    border-radius: 7px;
    padding: 16px 23px;
}

.logo {
    cursor: pointer;
}

/* navbar */
.navbar ul {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    width: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 18px;
    font-weight: 600;
}

.navbar ul li:nth-child(2) img {
    filter: invert(0.5);
}

.navbar ul li:nth-child(2) {
    color: #b3b3b3;
}

.close-left-section img {
    position: absolute;
    top: 22px;
    right: 23px;
    width: 20px;
    transform: rotate(45deg);
    color: #898989;
    filter: invert(0.5);
    display: none;
    cursor: pointer;
}


/* library */
.library {
    margin: 0px 5px 10px 10px;
    border-radius: 7px;
    padding: 16px 23px;
}

.library-heading {
    font-size: 15px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.library-heading-text {
    gap: 15px;
    filter: invert(0.4);
    font-weight: 500;
}

.library-heading-text img {
    width: 24px;
}

.create-playlist-icon img {
    width: 16px;
    filter: invert(0.6);
}

/* song list */
.songs-list {
    height: 420px;
    overflow-y: auto;
}

.songs-list ul {
    padding-right: 7px;
}

.songs-list ul li {
    list-style: none;
    border: 2px solid lightgrey;
    padding: 14px 6px;
    margin-bottom: 9px;
    justify-content: space-between;
}

.play-now {
    width: 24px;
}

/* footer */
.footer {
    flex-wrap: wrap;
    column-gap: 15px;
    padding-bottom: 10px;
    background-color: #121212;
    border-radius: 0 0 7px 7px;
    padding-top: 15px;
}

.footer a {
    color: #9c9b9b;
    font-size: 11px;
    text-decoration: none;
}


/* right-section */
.right-section {
    position: relative;
    width: 75vw;
    margin: 10px 5px 10px 0px;
    border-radius: 7px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px;
    background-color: #1a1a1a;
    border-radius: 7px 7px 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.ham-navig-icons {
    width: 103px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

.navigation img {
    width: 16px;
    cursor: pointer;
}

.navigation img:first-child {
    margin-right: 16px;
}

/* header buttons */
.sign-up-btn {
    background: transparent;
    color: #afafaf;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.sign-up-btn:hover {
    color: #fff;
    font-weight: 600;
    scale: 1.06;
}

.login-btn {
    padding: 14px 34px;
    border-radius: 27px;
    border: none;
    margin-left: 26px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    scale: 1.04;
    font-weight: bold;
}


/* Spotify Playlists */

.spotify-playlists-container h1 {
    font-size: 22px;
    margin: 8px 10px;
}

/* card container */
.card-container {
    max-height: 66vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 18px 18px;
}

/* card */
.card {
    width: 200px;
    padding: 15px;
    background-color: #181818;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    background-color: #262626;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card h2 {
    font-size: 16px;
    margin-top: 10px;
}

.card p {
    font-size: 13px;
    color: #a5a5a5;
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* play button */
.play-btn {
    display: inline-block;
    background-color: #1cd05b;
    padding: 10px 11px;
    border-radius: 50%;
    position: absolute;
    right: 26px;
    bottom: 75px;
    opacity: 0;
    transition: all 0.3s ease-out;
}


.play-btn img {
    width: 30px;
}

.card:hover .play-btn {
    opacity: 1;
    bottom: 84px;
    cursor: pointer;
}

.play-btn:hover {
    scale: 1.05;
    background-color: #1ed760;
}

/* play bar */
.play-bar {
    position: fixed;
    bottom: 12px;
    background-color: #1a1a1a;
    width: 74.5vw;
    height: 98px;
    border-radius: 0 0 7px 7px;
}


.play-bar:hover {
    background-color: #262626;
}

.play-bar-info {
    justify-content: space-between;
    padding: 18px 32px 0px;
}

.song-btns {
    gap: 15px;
}

.song-btns img {
    width: 24px;
    cursor: pointer;
}

.time-vol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.song-duration {
    width: 110px;
    text-align: center;
}

.volume {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.volume img {
    width: 28px;
    cursor: pointer;
}

.vol-range input {
    width: 90px;
    cursor: pointer;
}

/* seekbar */
.seek-bar {
    width: calc(75vw - 70px);
    height: 6px;
    background-color: #575656;
    border-radius: 7px;
    position: absolute;
    bottom: 25px;
    left: 28px;
}

.circle {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

